.section__Jobs-styledContent {
    font-family: sans-serif;
    /* border: 1px solid; */
    /* text-align: left; */
    color: #28282B	;
  }
  
  .section__Jobs-styledContent h4 {
    color: #2869CF;
    font-size: 22px;
    font-weight: 500;
    /* border: 1px solid; */
    margin: 5px 0;
    padding-top: 10px;
  }
  
  .section__Jobs-styledContent h5 {
    font-size: 13px;
    /* font-family: "Roboto Mono", monospace; */
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    /* border: 1px solid; */
    color: #2869CF;
    padding-left: 0;
    margin-left: 0;
  }
  
  .section__Jobs-styledContent p {
    font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-bottom: 10px;
  }
  
  .section__Jobs-detail::before {
    content: "▹";
    position: absolute;
    left: 24%; /* create a media querey here, needs to be 0 for smaller screens*/
    color: #2869CF;
  }

 @media (max-width: 480px) {

  .section__Jobs-detail::before {
    left: -2px; /* create a media querey here, needs to be 0 for smaller screens*/
  }
  
 }